/* body[theme="black"]{
    background-color: red;
} */

*::selection{
    background-color:salmon;
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
    /* --clip:100%; */
}

.home, .capsules{
    background-image: url(../public/noise.webp);
}



/* mobie view for pages */
@media (max-width:600px) {


    /* capsule section */




    .capsules{
        /* background-color: red; */
height: 200vh;
gap: 5.5%;
width: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;

    }

.leftcapsulesec{
    width: 100vw;
    height: 26%;
    padding: 0;
    margin: 0;
    /* background-color: violet; */
}
.rightcapsulesec{
    height: 200vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.capsule{
    height: 70vh;
    transform: rotate(0);
}

/* hsec2 mobile css */


.craft{
    /* height: 100vh; */
    /* width: 100vw; */
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-flow: row; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;

}

.ltext{
    /* height: ; */
    width: 100vw;
    /* background-color: red; */
    /* position: relative; */
}


.butt{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* position: relative; */
    left: 50%;
    transform: translatex(60%);
    /* left: 50%; */
}

.btn{
    /* background-color: aqua; */
}



.ltext p{
    padding-top: 10%;
    font-size: large;
    /* gap: 5; */
    text-decoration: dotted;
    border-bottom: 2px;
    border-color: black;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 500;
    /* background-color: red; */
    /* font-size: 5vh; */
}


.ltext h1{
    margin: 7%;

    font-size: 6.5vw;
    line-height: 5.5vh;
    font-weight:500;
}

.cards{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 99.99vw;
    /* overflow: hidden; */
    /* background-color: red; */
    display: flex;
    /* flex-direction: row; */
    /* overflow: auto; */
    white-space: nowrap;
  

}


.cardlist{
/* justify-content: center; */
/* flex-flow: row; */
/* align-items: center; */
width: 100%;
/* background-color: red; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.cardbox{
    /* overflow: hidden; */
/* height: 90%; */
width: 95vw;
/* background-color: rebeccapurple; */
overflow-x: hidden;
overflow-y: auto;
}

}

